@import '../Assets/scss/variables';
.Sales {
  width: calc(100% - 18rem);
  position: fixed;
  top: 4rem;
  left: 14rem;
  padding: 2rem;
  color: $dark_color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  h3 {
    margin: 0 0 1rem 0;
  }
  .sales-header {
    .sales-header-title{
      display: flex;
      justify-content: space-between;
    }
    .sales-cards {
      display: flex;
      gap: 2rem;
      margin-bottom: 1rem;
    }
  }
  h3 {
    margin: 0 0 1rem 0;
  }
  .sales_table {
    width: 100%;
    height: 80vh;
    overflow: scroll;
  }
  .sales_table::-webkit-scrollbar {
    width: 0 !important;
  }
}