$primary_color: #66FCF1;
$secondary_color: #d5e1ea;
$dark_color: #45A293;
$dark_background_color: #0B0C10;
$background_color: #1F2833;

$primary_font: 'Poppins', sans-serif;
$secondary_font: 'Alegreya', serif;
