@import "../Assets//scss//variables";

.dashboard {
  width: calc(100% - 14rem);
  position: fixed;
  top: 4rem;
  left: 14rem;
  color: $dark_color;
  // padding: 2rem;
  background-color: $secondary_color;
  height: 100vh;
  .dashboardCard {
    height: 40vh;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background: linear-gradient(0deg, $secondary_color 7%, $primary_color 50%);
  }
  .dashboard_body {
    display: flex;
    .dashboard_body-service_notifications {
      width: 50%;
      padding: 0rem 2rem;
      color: $dark_background_color;
      .dashboard_body-service_notifications_card {
        height: 40vh;
        overflow: auto;
      }
      .dashboard_body-service_notifications_card::-webkit-scrollbar {
        width: 0 !important
      }
    }
    .dashboard_body-product_details {
      color: $dark_background_color;
      width: 50%;
      padding: 0rem 2rem;
    }
  }
}
