@import '../../Assets//scss/variables';
.NotificationCard {
  margin: 1rem 0;
  height: 5rem;
  border-radius: 0.6rem;
  background-clip: padding-box;
  box-shadow: 3px 4px 5px 1px rgba(67, 89, 113, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(
  //   36deg,
  //   rgba(211, 245, 207, 1) 0%,
  //   rgba(168, 219, 250, 1) 35%,
  //   rgba(99, 94, 226, 1) 100%
  // );
  background-color: white;
  p {
    margin: 0 0.4rem;
    padding-left: 0.4rem;
  }
  .notification-header {
    width: 95%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    transition: margin-right 2s 1s;
    h3 {
      font-size: 1rem;
      color: rgb(255, 0, 0);
    }
    .notification-actions {
      display: flex;
      gap: 1rem;
    }
  }
  .notification-header:hover {
    color: rgb(255, 0, 0);
    h3 {
      font-size: 1.1rem;
      color: rgb(33, 117, 220);
    }
  }
}